@media (max-width: 768px) {
  .body-wrapper {
    overflow-x: hidden;
  }
  .btn-wrapper .btn {
    display: block;
    left: -15%;
    right: -15%;
    width: 38.5%;
  }
  .btn-wrapper .btn-team {
    display: block;
    left: 18.5%;
    right: 18.5%;
    width: 28%;
  }
  .btn-effect-1 {
    display: block;
    position: relative;
    left: -15.5%;
    right: -15.5%;
    width: 25%;
  }
  .btn-effect-2 {
    display: block;
    position: relative;
    left: 25%;
  }
  .about-img-wrap {
    margin-top: 10%;
  }
  .slide-item-info {
    display: block;
    position: relative;
    top: 5.5rem;
    width: 100%;
  }
  .ltn__slide-item-inner .container {
    height: 90px;
    margin-top: -16%;
  }
  .slide-item-img {
    display: flex;
    position: absolute;
    margin-top: -115%;
  }
  .car-dealer-form-inner {
    position: relative;
    top: 40%;
    left: 49.8%;
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 575.98px) {
  .slide-item-info {
    display: block;
    position: relative;
    top: 2.5rem;
    width: 100%;
  }
}

@media (max-width: 428px) {
  .slide-item-info {
    display: block;
    position: relative;
    top: 3.5rem;
    width: 100%;
  }
}

@media (max-width: 412px) {
  .slide-item-info {
    display: block;
    position: relative;
    top: 5.5rem;
    width: 100%;
  }
}

@media (max-width: 375px) {
  .slide-item-info {
    display: block;
    position: relative;
    top: 5.5rem;
    width: 100%;
  }
}

@media (max-width: 360px) {
  .slide-item-info {
    display: block;
    position: relative;
    top: 5.5rem;
    width: 100%;
  }
}