body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
body.sidebar-open #header {
  margin-left: 250px;
}
#header {
  transition: margin-left 0.3s;
}
#container {
  margin-left: 0;
  padding: 20px;
  transition: 0.3s;
}
/* Sidebar */
#sidebar {
  height: 105%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0c2d60;
  overflow-x: hidden;
  transition: width 0.3s;
  padding-top: -60px;
  z-index: 1;
  color: #495057;
  font-family: 'Roboto', sans-serif;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
#sidebar a {
  padding: 10px 20px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  display: block;
  transition: background-color 0.2s;
  font-family: 'Roboto', sans-serif;
  width: 100%;
}
#sidebar a:hover {
  background-color: #444;
}
#sidebar .nav-link {
  padding: 15px 20px;
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  display: block;
  transition: background-color 0.2s;
  font-family: Arial, sans-serif;
}
#sidebar .nav-link:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
#sidebar .logo {
  margin-top: 20px;
}
#sidebar .profile-info p {
  font-size: 18px;
}
#sidebar .profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.sidebar-container {
  padding: 20px;
  text-align: center;
  border-bottom: 2px solid #fff;
}
.profile-container {
  padding: 20px;
  text-align: center;
  border-bottom: 2px solid #fff;
}
.profile-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.profile-info {
  margin-top: 10px;
  color: #000;
  font-weight: bold;
}
.profile-info p {
  margin: 5px 0;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}
.profile-btn {
  display: inline-block;
  background-color: #1e45c6;
  color: #ffffff;
  text-decoration: none;
  padding: 12px 24px;
  border-radius: 8px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
  border: none;
  cursor: pointer;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
.profile-btn:hover {
  background-color: #0d6deb;
}
.profile-btn a {
  color: inherit;
  text-decoration: none;
}
.features-container a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #000;
  font-size: 16px;
  transition: 0.2s;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
.features-container a:hover {
  background-color: #f0f0f0;
}
.sidebar-open #sidebarCollapse {
  margin-left: 250px;
}
#sidebar.collapsed .nav-link span {
  display: none;
}
#sidebar.collapsed .me-2 {
  margin-right: 0;
}
#sidebar .sidebar-footer {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 10px 20px;
  text-align: center;
  color: #fff;
  font-size: 12px;
}
#sidebar.collapsed .sidebar-footer p {
  display: none;
}
.sidebar-footer p {
  color: #fff;
}
.logo {
  margin-top: -40%;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  color: #000;
  padding: 10px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}
.header i {
  font-size: 1.5rem;
  margin-left: 40px;
  cursor: pointer;
  transition: 0.3s;
}
.header h1 {
  margin: 0;
  font-size: 24px;
}
.container {
  display: block;
  margin-left: 25%;
  margin-right: 25%;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  width: 50%;
}
form {
  max-width: 600px;
  margin: 0 auto;
}
.form-group {
  margin-bottom: 20px;
}
label {
  font-weight: bold;
}
input,
select,
textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  margin-top: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
input.form-control {
  font-size: 18px;
  color: #333;
  font-family: Arial, sans-serif;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input:focus {
    border-color: #007bff;
    outline: none;
}

@media (max-width: 768px) {
  body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-size: 14px;
  }
  #sidebar {
    max-width: 45%;
    position: fixed;
    top: 0;
    left: -250px;
    background-color: #3689b2;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 20px;
    z-index: 1;
    color: #fff;
  }
  body.sidebar-open #header #container,
  body.sidebar-open {
    margin-left: 50px;
    position: fixed;
  }
  #header {
    transition: margin-left 0.3s;
  }
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    color: #000;
    padding: 10px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
    width: calc(100% - -0.2px);
    min-width: 200px;
    transition: width 0.3s;
  }
  .header i {
    font-size: 1.5rem;
    margin-left: -5px;
    cursor: pointer;
    transition: 0.3s;
    display: block;
  }
  .header h1 {
    margin: 0;
    margin-right: -22%;
    font-size: 24px;
  }
  #container {
    display: block;
    position: relative;
    transition: margin-left 0.3s, padding 0.3s;
    width: 90%;
  }
  body.sidebar-open #container,
  body.sidebar-open #container .title .container .row .card .card-header .card-body .card-footer .a button .btn {
    display: block;
    right: -180px;
    max-width: 80%;
    padding-right: 100px;
  }
  body.sidebar-open #sidebar {
    left: 0;
  }
  .container {
    display: block;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow-x: auto;
    overflow: hidden;
    margin-left: 11%;
    margin-right: 11%;
    width: 90%;
  }
  .form-title {
    margin-left: 3.5%;
  }
  .row {
    display: block;
    margin-left: -7.5%;
    margin-right: -7.5%;
    width: 115%;
  }
  input.form-control {
    font-size: 16px;
    color: #333;
    font-family: Arial, sans-serif;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input:focus {
      border-color: #007bff;
      outline: none;
  }
  .form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .form-row .col {
    flex-basis: 100%;
  }
  .logo {
    max-width: 100%;
    height: 50px;
    margin-left: -10%;
    margin-top: -10%;
  }
  .profile-image {
    max-width: 100%;
    height: 2%;
    border-radius: 50%;
    margin-left: -10%;
  }
  .profile-info p {
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    margin-left: -10%;
  }
  .profile-btn {
    max-width: 100%;
    max-height: 20%;
    display: block;
    margin-left: -5%;
  }
  .profile-btn a {
    margin-left: -10%;
    margin-top: -5%;
  }
  .features-container a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #000;
    font-size: 16px;
    transition: 0.2s;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  .features-container a:hover {
    background-color: #f0f0f0;
  }
  .sidebar-open #sidebarCollapse {
    margin-left: 200px;
  }
  form {
    padding: 0 15px;
  }
  input,
  select,
  textarea {
    margin-top: 8px;
    margin-bottom: 8px;
  }
}