body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
body.sidebar-open #header {
  margin-left: 250px;
}
#header {
  transition: margin-left 0.3s;
}
#container {
  margin-left: 0;
  padding: 20px;
  transition: 0.3s;
}
/* Sidebar */
#sidebar {
  height: 105%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0c2d60;
  overflow-x: hidden;
  transition: width 0.3s;
  padding-top: -60px;
  z-index: 1;
  color: #495057;
  font-family: 'Roboto', sans-serif;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
#sidebar a {
  padding: 10px 20px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  display: block;
  transition: background-color 0.2s;
  font-family: 'Roboto', sans-serif;
  width: 100%;
}
#sidebar a:hover {
  background-color: #444;
}
#sidebar .nav-link {
  padding: 15px 20px;
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  display: block;
  transition: background-color 0.2s;
  font-family: Arial, sans-serif;
}
#sidebar .nav-link:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
#sidebar .logo {
  margin-top: 20px;
}
#sidebar .profile-info p {
  font-size: 18px;
}
#sidebar .profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.sidebar-container {
  padding: 20px;
  text-align: center;
  border-bottom: 2px solid #fff;
}
.profile-container {
  padding: 20px;
  text-align: center;
  border-bottom: 2px solid #fff;
}
.profile-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.profile-info {
  margin-top: 10px;
  color: #000;
  font-weight: bold;
}
.profile-info p {
  margin: 5px 0;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}
.profile-btn {
  display: inline-block;
  background-color: #1e45c6;
  color: #ffffff;
  text-decoration: none;
  padding: 12px 24px;
  border-radius: 8px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
  border: none;
  cursor: pointer;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
.profile-btn:hover {
  background-color: #0d6deb;
}
.profile-btn a {
  color: inherit;
  text-decoration: none;
}
.features-container a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #000;
  font-size: 16px;
  transition: 0.2s;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
.features-container a:hover {
  background-color: #f0f0f0;
}
.sidebar-open #sidebarCollapse {
  margin-left: 250px;
}
#sidebar.collapsed .nav-link span {
  display: none;
}
#sidebar.collapsed .me-2 {
  margin-right: 0;
}
#sidebar .sidebar-footer {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 10px 20px;
  text-align: center;
  color: #fff;
  font-size: 12px;
}
#sidebar.collapsed .sidebar-footer p {
  display: none;
}
.sidebar-footer p {
  color: #fff;
}
.logo {
  margin-top: -40%;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  color: #000;
  padding: 10px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}
.header i {
  font-size: 1.5rem;
  margin-left: 40px;
  cursor: pointer;
  transition: 0.3s;
}
.header h1 {
  margin: 0;
  font-size: 24px;
  width: 20%;
}
.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
}
table, .card-body {
  width: 100%;
  margin-top: 0.1%;
}
table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
th,
td {
  padding: 10px;
}
th {
  background-color: #343a40;
  color: #fff;
  text-align: center;
}
td p label {
  color: #000;
  font-weight: bold;
}
td p span {
  color: #000;
}
.rental-type-cell,
.status-cell,
.action-buttons {
  text-align: center;
}
.rental-type-cell p {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #000;
  border: 1px solid #000;
  padding: 2px;
  text-align: center;
  width: 100%;
  text-transform: capitalize;
}
.status-cell p {
  display: block;
  margin-left: -14%;
  margin-right: -14%;
  border: 1px solid #000;
  padding: 2px;
  text-align: center;
  width: 125%;
}
.status-active {
  background-color: #32cd32; /* Green */
  color: #fff;
}
.status-pending {
  background-color: #ffd700; /* Yellow */
  color: #000;
}
.status-removing {
  background-color: #ff0000; /* Red */
  color: #fff;
}
.status-rejected {
  background-color: #808080; /* Grey */
  color: #fff;
}
.action-buttons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border: none;
}
.btn-add {
  font-size: 20px;
  margin: 5px;
  background-color: #6ec6ff;
  color: #fff;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 5px;
  position: absolute;
  top: 10px;
  right: 20px;
}
.btn-add:hover {
  background-color: #05abf8;
}
.btn-preview {
  margin: 5px;
  background-color: #6ec6ff;
  color: #fff;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
.btn-preview:hover {
  background-color: #05abf8;
}
.btn-edit {
  margin: 5px;
  background-color: #32cd32;
  color: #fff;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
.btn-edit:hover {
  background-color: #08b408;
}
.btn-delete {
  margin: 5px;
  background-color: #f00f0f;
  color: #fff;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
.btn-delete:hover {
  background-color: #e10808;
}
.btn-view {
  margin: 5px;
  background-color: #6ec6ff;
  color: #fff;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
.btn-view:hover {
  background-color: #05abf8;
}
.modal {
  max-width: 100%;
}
.modal-dialog {
  max-width: 100%;
  margin: 1.75rem auto;
}
.modal-content {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  width: 50%;
  pointer-events: auto;
  background-color: #e2eaee;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  color: #000;
  outline: 0;
}
.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 1rem;
}
.modal .modal-dialog .modal-content .modal-body p:first-child {
  margin-top: 10%;
}
.input-group {
  position: relative;
  width: 110%;
  top: 2px;
  right: 226.5%;
}
.btn-group a {
  margin-right: 10px;
  height: 10%;
  width: 100%;
}

@media (max-width: 768px) {
  body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    overflow-x: scroll;
    font-size: 14px;
  }
  #sidebar {
    max-width: 45%;
    position: fixed;
    top: 0;
    left: -250px;
    background-color: #3689b2;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 20px;
    z-index: 1;
    color: #fff;
  }
  body.sidebar-open #header #container,
  body.sidebar-open {
    margin-left: 50px;
    position: fixed;
    width: 100%;
  }
  #header {
    transition: margin-left 0.3s;
  }
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    color: #000;
    padding: 10px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
    width: calc(100% - -0.2px);
    min-width: 200px;
    transition: width 0.3s;
  }
  .header i {
    font-size: 1.5rem;
    margin-left: -5px;
    cursor: pointer;
    transition: 0.3s;
    display: block;
  }
  .header h1 {
    margin: 0;
    margin-right: -22%;
    font-size: 24px;
  }
  #container {
    margin-left: 0;
    padding: 20px;
    transition: margin-left 0.3s, padding 0.3s;
  }
  .container {
    display: block;
    position: relative;
    height: 200rem;
  }
  body.sidebar-open #container .container {
    margin-left: 200px;
    right: 2%;
    max-width: 80%;
  }
  body.sidebar-open .card-body {
    margin-top: -2%;
  }
  body.sidebar-open .input-group {
    margin-left: 35%;
  }
  body.sidebar-open .btn-add {
    left: 100%;
  }
  .container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
  }
  .card {
    display: block;
    position: absolute;
    width: 100%;
    margin-left: -4.2%;
    margin-right: -4.2%;
    margin-top: -4.2%;
    overflow-x: hidden;
  }
  .card-header {
    padding-bottom: 15%;
  }
  h2.card-title {
    margin-top: 2%;
    margin-left: -0.8%;
    font-size: 20px;
  }
  table, .card-body {
    display: block;
    width: 110%;
    margin-top: -1%;
    margin-left: -3%;
    margin-right: -3%;
    overflow-y: auto;
  }
  table,
  th,
  td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th,
  td {
    padding: 10px;
    text-align: center;
  }
  th {
    background-color: #343a40;
    color: #fff;
  }
  .column, span {
    margin-top: 100%;
  }
  .btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 10px 0;
    width: 100%;
  }
  .btn-add {
    position: relative;
    width: 50%;
    right: -50%;
    margin-top: -39.5%;
  }
  .status-cell {
    width: 100%;
  }
  .logo {
    max-width: 100%;
    height: 50px;
    margin-left: -10%;
    margin-top: -10%;
  }
  .profile-image {
    max-width: 100%;
    height: 2%;
    border-radius: 50%;
    margin-left: -10%;
  }
  .profile-info p {
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    margin-left: -10%;
  }
  .profile-btn {
    max-width: 100%;
    max-height: 20%;
    display: block;
    margin-left: -5%;
  }
  .profile-btn a {
    margin-left: -10%;
    margin-top: -5%;
  }
  .features-container a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #000;
    font-size: 16px;
    transition: 0.2s;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  .features-container a:hover {
    background-color: #f0f0f0;
  }
  .sidebar-open #sidebarCollapse {
    margin-left: 200px;
  }
  .rental-type-cell p {
    width: 100%;
  }
  .modal {
    max-width: 100%;
  }
  .modal-dialog {
    max-width: 100%;
    margin: 1.75rem auto;
  }
  .modal-content {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    width: 70%;
    pointer-events: auto;
    background-color: #e2eaee;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    color: #000;
    outline: 0;
  }
  .modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
  }
  .modal-footer .btn-secondary {
    background-color: #ff6c6c;
    color: #fff;
  }
  body.sidebar-open #sidebar {
    left: 0;
  }
  .input-group {
    position: relative;
    width: 100%;
    top: 5px;
    right: 90px;
  }
  .input-group-append {
    display: flex;
    align-items: center;
  }
  .input-group-append button {
    width: 40px;
    height: 6vh;
    padding: 6px;
    font-size: 14px;
    margin-top: -1%;
  }
  #searchInput {
    height: 6vh;
  }
}